<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Doctor: {{doctor.name}}</h3>
      <br>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form #form="ngForm" ngNativeValidate (ngSubmit)="saveDoctor(form)">
            <div class="form-group">
              <label>Doctor name</label>
              <input [(ngModel)]="doctor.name" name="name" type="text" class="form-control" placeholder="Doctor name" required>
            </div>
            <div class="form-group">
              <label>Hospital</label>
              <select  (change)="onChangeHospital($event.target.value)" [(ngModel)]="doctor.hospital._id" name="hospital" class="form-control required">
                <option value="">Select hospital</option>
                <option  *ngFor="let hospital of hospitals" [value]="hospital._id">{{hospital.name}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i>
              Save Doctor
            </button>
            <button routerLink="/doctors" type="button" class="btn btn-inverse waves-effect waves-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title m-b-0">Hospital</h4>
      <img [src]="doctor.hospital.img | image:'hospital'" class="rounded img-fluid">
    </div>
  </div>
  <div class="col-md-3" *ngIf="doctor._id">
    <div class="card card-body">
      <h4 class="box-title m-b-0"> Image</h4>
      <img (click)="updateImage()" [src]="doctor.img | image:'doctor'" class="rounded img-fluid animated fadeIn">
    </div>
  </div>
</div>